<%- include('header'); -%>
    <h1>Product Authentication Report</h1>
    <br>
    <h3>Item Found Successfully</h3>
    <p><%= name %></p>
    <p><%= code %></p>
    <p><%= status %></p>
    <p><%= date %></p>
  
<%- include('footer'); -%>