<%- include('header'); -%>
    <h1>Product Authentication Report</h1>
    <br>
    <h3>Item Found Successfully</h3>
    <p><%= names %></p>
    <p><%= price %></p>
    <p><%= manufacturer %></p>
    <p><%= location %></p>
    <p><%= date %></p>
  
<%- include('footer'); -%>